.list__items {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 15px 25px;
}
.list__item {
	display: flex;
	justify-content: space-between;
	background: var(--item-color);
	border-radius: 6px;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
	align-items: center;
	padding: 12px;
	transition: box-shadow 0.2s ease-in-out;
	cursor: pointer;
	border: 1px solid rgba($color: #000000, $alpha: 0.1);

	&:hover {
		box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
		transition: box-shadow 0.2s ease-in-out;
	}
}
.grid__item-edit {
	margin-right: 4px;
	transition: color 0.2s ease-in-out;

	&:hover {
		color: var(--action-color-hover);
		transition: color 0.2s ease-in-out;
	}
}
.grid__item-delete {
	margin-right: 4px;
	transition: color 0.2s ease-in-out;

	&:hover {
		color: var(--accent-color-hover);
		transition: color 0.2s ease-in-out;
	}
}
