#main {
	background-color: var(--body-color);
	height: calc(100vh - 160px);
}
.title {
	display: block;
	font-size: 3.5rem;
	text-align: center;
	padding-top: 4%;
	margin-top: 0;
	margin-bottom: 4%;
	font-weight: 500;
}
.random__btn {
	display: block;
	text-align: center;
	font-size: 2rem;
	background-color: rgb(255, 57, 57);
	padding: 0.8rem;
	max-width: 25%;
	margin: 0 auto;
	border-radius: 12px;
	color: var(--white);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
	font-weight: 500;
	transition: all 0.3s ease-in-out;

	&:hover {
		background-color: #ff0000;
		transform: translateY(-2px);
		transition: all 0.3s ease-in-out;
	}
}
