.form {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  max-width: 50%;
  margin: 0 auto;
}

.form__inner {
  position: relative;
  display: flex;
  width: 100%;
}

.form__input {
  border: none;
  border-bottom: 2px solid var(--action-color);
  outline: none;
  padding: 2% 0 2% 0; /* Добавляем padding-right чтобы текст не заходил на крестик */
  width: 100%;
}

.form__add-btn {
  background-color: var(--action-color);
  color: var(--white);
  padding: 1% 5%;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border: none;
  border-radius: 6px;
}

.btn--reset {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1%;
  width: 20px;
  height: 20px;
  border: none;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
}