@use 'variables' as *;

html,
body {
	height: 100%;
	margin: 0;
	scroll-behavior: smooth;
}

body {
	font-family: var(--main-font), sans-serif;
	color: var(--main-text-color);
	font-weight: 400;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh; /* Заполнить всю высоту экрана */
}
.main-content {
	flex: 1 0 auto; /* Расширяется и занимает всё пространство между header и footer */
}
.container {
	max-width: var(--container-width);
	padding-left: var(--container-padding-x);
	padding-right: var(--container-padding-x);
	margin: 0 auto;
	flex-grow: 1;
}
.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}
