:root {
	--container-width: 1400px;
	--container-padding-x: 15px;

	--main-font: 'Montserrat', sans-serif;

	--main-text-color: #000;
	--secondary-text-color: #3b2d2d;

	--white: #fff;
	--grey: #3d3d3d;
	--black: #000;

	--accent-color: rgb(255, 83, 83);
	--accent-color-hover: rgb(253, 45, 45);
	--action-color: #3597ff;
	--action-color-hover: #0d82ff;

	--main-bg-color: #1d1d1d;

}
